/* Media Query */
/* Devices*/
//Default stamdard: 13.5" laptop width 1164px, height 516px

$desktop: 1280px; // 109.9%
$laptop: 1024px;//87.9%
$tablet: 769px; //done 66%
$largeMobile: 520px; //44.6%
$mobile: 480px; //done 41.2%
$smallMobile: 320px; //done 27.4%

//#1 landscape handling

@mixin smallMobile {
  //@media (max-width: 320px)
  @media (max-width: $smallMobile) {
    @content;
  }
}

@mixin mobile {
  //@media (min-width: 320px) and (max-width: 480px)
  @media (min-width: $smallMobile) and(max-width: $mobile) {
    @content;
  }
}

//#2 breakpoint : 520, 560. 576
@mixin largeMobile {
  @media (min-width: $mobile) and (max-width: $largeMobile) {
    @content;
  }
}

@mixin tablet {
  //@media (min-width: 480px) and (max-width: 769px)
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  //default
  @media (min-width: $tablet) and (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $laptop) and (max-width: $desktop) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}
