/* Media Query */
/* Devices*/
//Default stamdard: 13.5" laptop width 1164px, height 516px

$desktop: 1280px; // 109.9%
$laptop: 1024px; //87.9%
$tablet: 769px; // 66%
$largeMobile: 520px; //44.6%
$mobile: 480px; //41.2%
$smallMobile: 320px; //27.4%

//#1 landscape handling

@mixin smallMobile {
  //@media (max-width: 320px)
  @media (max-width: $smallMobile) {
    @content; //added
  }
}

@mixin mobile {
  //@media (min-width: 320px) and (max-width: 480px)
  @media (min-width: $smallMobile) and(max-width: $mobile) {
    @content; //added - iphone 7 checked
  }
}

@mixin smallTablet {
   //@media (min-width: 480px) and (max-width: 520px)
  @media (min-width: $mobile) and (max-width: $largeMobile) {
    @content;
  }
}

@mixin tablet {
  //@media (min-width: 480px) and (max-width: 769px)
  @media (min-width: $largeMobile) and (max-width: $tablet) {
    @content; // added
  }
}

//#3 Additional breakpoint : 991.98px

@mixin laptop {
  //@media (min-width: 769px) and (max-width: 1024px)
  @media (min-width: $tablet) and (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  //@media (min-width: 1024px) and (max-width: 1280px)
  @media (min-width: $laptop) and (max-width: $desktop) {
    @content;
  }
}

@mixin largeDesktop {
  //@media (min-width: 1280px)
  @media (min-width: $desktop) {
    @content;
  }
}

//=============================================
//2021 breakpoints
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }
