/* Media Query */
/* Devices*/
$desktop: 1280px; 
$laptop: 1024px; 
$tablet: 769px; //done
$mobile: 480px; //done
$smallMobile: 320px; //done

//#1 landscape handling

@mixin smallMobile {
  @media (max-width: $smallMobile) {
    @content;
  }
}

@mixin mobile {
  //@media (min-width: 320px) and (max-width: 480px)
  @media (min-width: $smallMobile) and(max-width: $mobile) {
    @content;
  }
}

//#2 breakpoint : 520, 560. 576

@mixin tablet {
  //@media (min-width: 480px) and (max-width: 769px)
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  //default
  @media (min-width: $tablet) and (max-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $laptop) and (max-width: $desktop) {
    @content;
  }
}

@mixin largeDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}
