@import "./media";

$color1: #f5e63e; //used
$color2: #42cef5; //used
$color3: #f57337; //used
$color4: #a1ffdb; //used
$color5: #a46da9; //used
$color6: #434344; //used
$color7: #9f415c; //used
$color8: #f3f7fc; //used
$color9: #fa709a; //used

$bgColor1: #f3f7fcae; //used
$bgColor2: #fdffbcbc; //used
$bgColor3: #eeae90ca; //used
$bgColor4: #06070794; //used
$bgColor5: #3131319c; //used
$bgColor6: #b286b4c0; //used
$bgColor7: #eee7ede8; //used
$bgColor8: #9f415ca2; //used

@mixin centering {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

@mixin threeD {
  text-shadow: 0.1rem -0.1rem 0.1rem #bdbdbd, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #767474,
    -0.3rem 0.6rem 0.1rem #787777, -0.4rem 0.8rem 0.1rem #424242;
}

html {
  -webkit-appearance: none;
}
body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  //background-color: $color1;
  // background:linear-gradient($bgColor1), url(https://i.gifer.com/HKVW.gif);
  background: url(https://i.gifer.com/HKVW.gif);
  .wrap {
    overflow: hidden;
    /* header */
    header {
      width: 100%;
      height: 95vh;
      text-align: center;
      background: url(https://i.gifer.com/XSdv.gif) center;
      background-size: cover;
      .logo {
        font-family: "UnifrakturMaguntia", cursive;
        text-align: left;
        font-size: 4rem;
        color: $color7;
        padding-left: 1rem;
        padding-top: 0.5rem;
        @include threeD;
        @include mobile {
          font-size: 2rem;
        }
      }
      .title {
        @include centering;
        h1 {
          font-size: 5rem;
          color: $color8;
          text-transform: uppercase;
          font-family: "Train One", cursive;
          @include mobile {
            font-size: 2rem;
            margin-top: 5rem;
          }
          @include smallMobile {
            font-size: 1.5rem;
            margin-top: 5rem;
          }
        }
        p {
          font-family: "Dancing Script", cursive;
          font-size: 3.5rem;
          font-weight: bold;
          color: $color8;
          margin-bottom: 8rem;
          @include mobile {
            margin-bottom: 7rem;
            font-size: 1.2rem;
          }
          @include smallMobile {
            font-size: 1.2rem;
          }
          &:after {
            @include centering;
            width: 20%;
            top: 65%;
            height: 0.5rem;
            border-radius: 10vw;
            content: "";
            background-image: linear-gradient(to right, $color9 0%, $color1 100%);
            @include mobile {
              top: 35%;
              width: 50%;
              height: 0.3rem;
            }
            @include smallMobile {
              top: 39%;
              height: 0.1rem;
            }
          }
        }
        .btn {
          width: 12vw;
          font-size: 1.5rem;
          border-radius: 50vw;
          padding: 0.5rem 0.5rem;
          margin: 2rem 0.5rem 0 0.5rem;
          background: #f3f7fcc8;
          box-shadow: 0 0.1em 0.2em $color1;
          color: $color6;
          border: 0.1rem solid $color1;
          @include tablet {
            width: 18vw;
          }
          @include mobile {
            width: 30vw;
            display: block;
            margin: 2rem auto;
            font-size: 0.8rem;
          }
          &:hover {
            transform: translateY(-0.2rem);
            color: $color9;
          }
          &:active {
            box-shadow: none;
            transform: translateY(0.2rem);
          }
        }
      }
    }

    /* main all */
    .container {
      position: relative;
      width: 100%;
      height: 95vh;
      text-align: center;
      color: $color8;
      h2 {
        padding-top: 3rem;
        font-size: 3rem;
        text-transform: uppercase;
        @include threeD;
        @include tablet {
          font-size: 5rem;
        }
        @include mobile {
          padding-top: 5rem;
          font-size: 1.5rem;
        }
        @include smallMobile {
          padding-top: 3rem;
          font-size: 1.2rem;
        }
      }
    }

    /* about */
    .about {
      background: linear-gradient(to right bottom, $bgColor8, $bgColor1);
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 90%);
      p {
        font-size: 2rem;
        width: 70%;
        margin: 1rem auto;
        @include tablet {
          width: 90%;
          margin: 6rem auto;
          font-size: 3rem;
          height: unset;
        }
        @include mobile {
          font-size: 1.2rem;
        }
        @include smallMobile {
          font-size: 1rem;
        }
      }
      .careerBtn,
      .educationBtn {
        width: 20vw;
        font-size: 1.5rem;
        border-radius: 50vw;
        padding: 0.5rem 0.5rem;
        margin: 2rem 0.5rem 0 0.5rem;
        background: $bgColor1;
        box-shadow: 0 0.2em 0.3em $color7;
        color: $color7;
        border: 0.1rem solid $color7;
        @include tablet {
          width: 37vw;
          font-size: 2rem;
        }
        @include mobile {
          font-size: 1rem;
          width: 45vw;
          display: block;
          margin: 2rem auto;
        }
        @include smallMobile {
          width: 45vw;
        }
        &:hover {
          transform: translateY(-0.2rem);
          color: $color9;
        }
        &:active {
          box-shadow: none;
          transform: translateY(0.2rem);
        }
      }
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      .modalContents {
        @include centering;
        background: linear-gradient($bgColor7), url(./img/top3.jpg);
        background-size: cover;
        width: 80%;
        overflow: scroll;
        height: 90%;
        padding: 1rem;
        text-align: center;
        h3 {
          color: $color7;
          font-size: 3rem;
          text-transform: uppercase;
          text-shadow: 0.1rem -0.1rem 0.1rem #e6dbe6, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #9b9898,
            -0.3rem 0.6rem 0.1rem #929191;
          @include mobile {
            font-size: 2.5rem;
          }
          @include smallMobile {
            font-size: 2rem;
          }
        }
        .modalPanel {
          text-align: left;
          margin: 2rem;
          @include mobile {
            margin: 1rem;
          }
          h4 {
            font-size: 1.8rem;
            text-decoration: underline;
            @include mobile {
              font-size: 1.3rem;
            }
          }
          p {
            font-size: 1.3rem;
            @include mobile {
              font-size: 1.2rem;
            }
          }
          ul {
            font-size: 1.2rem;
            @include mobile {
              font-size: 1rem;
              padding-left: 2rem;
            }
          }
          a {
            text-decoration: none;
            color: $color7;
            padding-left: 2rem;
            font-size: 1.5rem;
            @include mobile {
              font-size: 1.1rem;
            }
            i {
              margin-right: 0.5rem;
            }
            &:hover {
              color: $color5;
            }
          }
        }
        .resumeLink {
          width: 85%;
          height: 0.1rem;
          margin: auto;
          border-radius: 10vw;
          content: "";
          background-image: linear-gradient(to right, $color9 0%, $color1 100%);
        }
        .closeBtn {
          width: 10vw;
          font-size: 1.5rem;
          border-radius: 50vw;
          padding: 0.5rem 0.5rem;
          margin-bottom: 3rem;
          background: $bgColor1;
          box-shadow: 0 0.2em 0.3em $color7;
          color: $color7;
          border: 0.1rem solid $color7;
          @include mobile {
            width: 25vw;
            font-size: 1.2rem;
          }
          &:hover {
            transform: translateY(-0.2rem);
            color: $color8;
            background: $bgColor8;
          }
          &:active {
            box-shadow: none;
            transform: translateY(0.2rem);
          }
        }
      }
    }

    /* skills */
    .skills {
      background: linear-gradient(to right bottom, $bgColor1, $bgColor6, $bgColor1), url(./img/top4.jpg);
      background-size: cover;
      transform: skewY(5deg);
      h2 {
        transform: skewY(-5deg);
        @include mobile {
          padding-top: 1.5rem;
        }
      }
      .row {
        @include centering;
        transform: translate(-50%, -50%) skewY(-5deg);
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin: auto;
        @include tablet {
          display: block;
          transform: skewY(-5deg);
          position: unset;
        }
        @include mobile {
          display: block;
          transform: skewY(-5deg);
          position: unset;
        }
        .panel {
          width: 20vw;
          background-color: $bgColor1;
          margin: 2rem;
          padding: 1rem;
          border-radius: 5%;
          transition: transform 0.3s;
          @include tablet {
            width: 60vw;
            height: 20vh;
            border-radius: 3vw;
            margin: 2rem auto;
          }
          @include mobile {
            width: 70vw;
            height: 23vh;
            border-radius: 7vw;
            margin: 2rem auto;
          }
          p {
            text-transform: uppercase;
            color: $color6;
            @include tablet {
              font-size: 2rem;
            }
            @include mobile {
              font-size: 1.2rem;
            }
            @include smallMobile {
              font-size: 1rem;
            }
          }
          .border {
            width: 50%;
            height: 0.1rem;
            margin: 2rem auto;
            background-color: $color7;
            @include tablet {
              margin: 1rem auto;
            }
            @include mobile {
              margin: 1rem auto;
            }
          }
          i {
            font-size: 2em;
            @include mobile {
              font-size: 1.2em;
            }
            @include smallMobile {
              font-size: 1em;
            }
          }
          ul {
            color: $color6;
            font-size: 1.5rem;
            list-style: none;
            padding-left: 0;
            @include tablet {
              font-size: 1.5rem;
            }
            @include mobile {
              font-size: 1rem;
            }
            @include smallMobile {
              font-size: 1rem;
            }
          }
          &:hover {
            transform: translateY(-1rem);
          }
        }
      }
    }

    /* work */
    .work {
      background: linear-gradient(to right bottom, $bgColor1, $bgColor8);
      clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
      @include tablet {
        height: unset;
      }
      @include mobile {
        clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0 100%);
        height: unset;
      }
      h2 {
        padding-top: 6rem;
        @include tablet {
          padding-top: 10rem;
        }
        @include mobile {
          padding-top: 7rem;
        }
      }
      .line {
        @include centering;
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include tablet {
          display: block;
          position: unset;
          padding: 1rem 0;
          transform: unset;
          margin-top: 0;
        }
        @include mobile {
          display: block;
          position: unset;
          padding: 1rem 0;
          transform: unset;
          margin-top: 0;
        }
        .card {
          position: relative;
          width: 23vw;
          min-height: 40vh;
          margin: 2rem;
          transition: 0.5s;
          transform-style: preserve-3d;
          perspective: 600px;
          @include tablet {
            width: 70vw;
            min-height: 25vh;
            margin: 1rem auto 2rem auto;
          }
          @include mobile {
            width: 70vw;
            min-height: 35vh;
            margin: 1rem auto 2rem auto;
          }
          &:hover .card_front {
            transform: rotateX(-180deg); //3d flip
          }
          &:hover .card_back {
            transform: rotateX(0deg); //3d flip
          }
          /* card front */
          .card_front {
            position: absolute; //for flip
            width: 100%; //for flip
            height: 100%; //for flip
            z-index: 100; //for flip
            transform: rotateX(0deg);
            transition: 0.5s;
            backface-visibility: hidden; //use this together with transform-style: preserve-3d (parent element)
            background-color: $color8;
            box-shadow: 0.5em 0.7em 1em $color6;
            margin: 1rem;
            border-radius: 3vw;
            @include tablet {
              margin: 0;
            }
            @include mobile {
              margin: 0;
            }
            .card_title {
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
              padding: 3rem 1.5rem;
              border-top-left-radius: 3vw;
              border-top-right-radius: 3vw;
              @include tablet {
                padding: 2.5rem 1.5rem;
              }
              @include smallMobile {
                padding: 2rem 1.5rem;
              }
              h3 {
                padding: 0.5rem;
                font-size: 1.5rem;
                border-radius: 10vw;
                background-image: linear-gradient($bgColor5);
                @include tablet {
                  font-size: 2rem;
                }
                @include mobile {
                  font-size: 1.2rem;
                }
                @include smallMobile {
                  font-size: 1rem;
                }
              }
            }
            //card 1
            .one {
              background-image: linear-gradient($bgColor2), url(./img/img1.jpg);
              h3 span {
                color: $color1;
              }
            }
            //card 2
            .two {
              background-image: linear-gradient($bgColor4), url(./img/img2.jpg);
              h3 span {
                color: $color2;
              }
            }
            //card 3
            .three {
              background-image: linear-gradient($bgColor3), url(./img/img3.jpg);
              h3 span {
                color: $color3;
              }
            }
            .techStack {
              list-style: none;
              margin: auto;
              padding: 1.5rem 2rem 2rem;
              width: 60%;
              @include tablet {
                width: 75%;
              }
              @include mobile {
                padding: 0 1.5rem;
              }
              @include smallMobile {
                width: 50%;
              }
              li {
                border-bottom: 0.1rem groove $color6;
                font-size: 1.2rem;
                padding: 0.5rem;
                color: $color6;
                @include tablet {
                  display: inline-block;
                  font-size: 1.5rem;
                  border-bottom: none;
                }
                @include mobile {
                  font-size: 1rem;
                }
                @include smallMobile {
                  font-size: 0.8rem;
                }
              }
            }
          }
          /* card back */
          .card_back {
            width: 100%; //for flip
            height: 100%; //for flip
            box-shadow: 0.5em 0.7em 1em $color6;
            margin: 1rem;
            border-radius: 3vw;
            transform: rotateX(180deg); //to show the back side when flipped
            transition: 0.5s;
            @include tablet {
              margin: 0;
              min-height: 25vh;
            }
            @include mobile {
              margin: 0;
              min-height: 35vh;
            }
            @include smallMobile {
              min-height: 40vh;
            }
            &.one_back {
              background: linear-gradient(#fff8bcfd, #beecaf);
            }
            &.two_back {
              background: linear-gradient(#bcedfffd, #8a8af1);
            }
            &.three_back {
              background: linear-gradient(#f1b565fd, #f18383);
            }
            p {
              color: $color6;
              text-align: justify;
              padding: 3rem;
              font-size: 1.2rem;
              @include mobile {
                font-size: 1rem;
                padding: 2rem 1rem;
              }
              @include smallMobile {
                padding: 1rem 1rem;
              }
            }
            a {
              display: block;
              margin: 1rem auto;
              padding: 0.5rem 1rem;
              color: $color5;
              text-decoration: none;
              background-color: $color8;
              box-shadow: 0 0.2em 0.3em $bgColor4;
              border-radius: 50vw;
              width: fit-content;
              @include tablet {
                display: inline;
                margin: 1rem 1rem;
              }
              &:hover {
                transform: translateY(-0.2rem);
                color: $color9;
              }
              &:active {
                transform: translateY(0.2rem);
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    /* footer */
    footer {
      width: 100%;
      background-color: $color7;
      color: $color8;
      text-align: center;
      h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 3rem;
        text-transform: uppercase;
        @include threeD;
        @include tablet {
          font-size: 5rem;
        }
        @include mobile {
          font-size: 1.5rem;
        }
        @include smallMobile {
          font-size: 1.2rem;
        }
      }
      .tel,
      .mail {
        text-decoration: none;
        color: $color8;
        @include tablet {
          font-size: 2rem;
        }
        @include mobile {
          font-size: 1.5rem;
        }
        @include smallMobile {
          display: block;
          font-size: 1.2rem;
        }
        i {
          padding: 0 0.5rem;
        }
        &:hover {
          color: $color5;
        }
      }
      .links {
        padding-bottom: 1rem;
        padding-top: 1rem;
        a {
          text-decoration: none;
          color: $color8;
          padding-left: 2rem;
          font-size: 1.5rem;
          @include tablet {
            font-size: 2rem;
          }
          @include mobile {
            font-size: 1rem;
            padding-left: 0.5rem;
          }
          @include smallMobile {
            display: block;
          }
          i {
            margin-right: 0.5rem;
          }
          &:hover {
            color: $color5;
          }
        }
      }
      .logo {
        a {
          display: block;
          font-family: "UnifrakturMaguntia", cursive;
          font-size: 4rem;
          padding-left: 1rem;
          padding-top: 0.5rem;
          color: $color8;
          text-decoration: none;
          width: fit-content;
          margin: auto;
          @include threeD;
          &:hover {
            color: $color5;
            transform: scale(1.5);
            transition: all 0.3s;
          }
        }
      }
      .credit {
        padding-bottom: 1rem;
      }
    }
  }
}
