/* Media Query */
/* Devices*/
html {
  -webkit-appearance: none;
}

body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: url(https://i.gifer.com/HKVW.gif);
}

body .wrap {
  overflow: hidden;
  /* header */
  /* main all */
  /* about */
  /* skills */
  /* work */
  /* footer */
}

body .wrap header {
  width: 100%;
  height: 95vh;
  text-align: center;
  background: url(https://i.gifer.com/XSdv.gif) center;
  background-size: cover;
}

body .wrap header .logo {
  font-family: "UnifrakturMaguntia", cursive;
  text-align: left;
  font-size: 4rem;
  color: #9f415c;
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-shadow: 0.1rem -0.1rem 0.1rem #bdbdbd, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #767474, -0.3rem 0.6rem 0.1rem #787777, -0.4rem 0.8rem 0.1rem #424242;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap header .logo {
    font-size: 2rem;
  }
}

body .wrap header .title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

body .wrap header .title h1 {
  font-size: 5rem;
  color: #f3f7fc;
  text-transform: uppercase;
  font-family: "Train One", cursive;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap header .title h1 {
    font-size: 1.8rem;
    margin-top: 7rem;
  }
}

@media (max-width: 320px) {
  body .wrap header .title h1 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
}

body .wrap header .title p {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: bold;
  color: #f3f7fc;
  margin-bottom: 8rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap header .title p {
    margin-bottom: 7rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  body .wrap header .title p {
    font-size: 1.2rem;
  }
}

body .wrap header .title p:after {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  width: 20%;
  top: 65%;
  height: 0.5rem;
  border-radius: 10vw;
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#f5e63e));
  background-image: linear-gradient(to right, #fa709a 0%, #f5e63e 100%);
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap header .title p:after {
    top: 45%;
    width: 50%;
    height: 0.2rem;
  }
}

@media (max-width: 320px) {
  body .wrap header .title p:after {
    top: 40%;
    height: 0.1rem;
  }
}

body .wrap header .title .btn {
  width: 12vw;
  font-size: 1.5rem;
  border-radius: 50vw;
  padding: 0.5rem 0.5rem;
  margin: 2rem 0.5rem 0 0.5rem;
  background: #f3f7fcc8;
  -webkit-box-shadow: 0 0.1em 0.2em #f5e63e;
          box-shadow: 0 0.1em 0.2em #f5e63e;
  color: #434344;
  border: 0.1rem solid #f5e63e;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap header .title .btn {
    width: 18vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap header .title .btn {
    width: 30vw;
    display: block;
    margin: 2rem auto;
    font-size: 0.8rem;
  }
}

body .wrap header .title .btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #fa709a;
}

body .wrap header .title .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

body .wrap .container {
  position: relative;
  width: 100%;
  height: 95vh;
  text-align: center;
  color: #f3f7fc;
}

body .wrap .container h2 {
  padding-top: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0.1rem -0.1rem 0.1rem #bdbdbd, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #767474, -0.3rem 0.6rem 0.1rem #787777, -0.4rem 0.8rem 0.1rem #424242;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .container h2 {
    font-size: 5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .container h2 {
    padding-top: 3rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  body .wrap .container h2 {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
}

body .wrap .about {
  background: -webkit-gradient(linear, left top, right bottom, from(#9f415ca2), to(#f3f7fcae));
  background: linear-gradient(to right bottom, #9f415ca2, #f3f7fcae);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 90%);
          clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 90%);
}

body .wrap .about p {
  font-size: 2rem;
  width: 70%;
  margin: 1rem auto;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .about p {
    width: 90%;
    margin: 6rem auto;
    font-size: 3rem;
    height: unset;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .about p {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  body .wrap .about p {
    font-size: 1rem;
  }
}

body .wrap .about .careerBtn,
body .wrap .about .educationBtn {
  width: 20vw;
  font-size: 1.5rem;
  border-radius: 50vw;
  padding: 0.5rem 0.5rem;
  margin: 2rem 0.5rem 0 0.5rem;
  background: #f3f7fcae;
  -webkit-box-shadow: 0 0.2em 0.3em #9f415c;
          box-shadow: 0 0.2em 0.3em #9f415c;
  color: #9f415c;
  border: 0.1rem solid #9f415c;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .about .careerBtn,
  body .wrap .about .educationBtn {
    width: 37vw;
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .about .careerBtn,
  body .wrap .about .educationBtn {
    font-size: 1rem;
    width: 70vw;
    display: block;
    margin: 2rem auto;
  }
}

@media (max-width: 320px) {
  body .wrap .about .careerBtn,
  body .wrap .about .educationBtn {
    width: 45vw;
  }
}

body .wrap .about .careerBtn:hover,
body .wrap .about .educationBtn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #fa709a;
}

body .wrap .about .careerBtn:active,
body .wrap .about .educationBtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

body .wrap .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

body .wrap .modal .modalContents {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee7ede8)), url(./img/top3.jpg);
  background: linear-gradient(#eee7ede8), url(./img/top3.jpg);
  background-size: cover;
  width: 80%;
  overflow: scroll;
  height: 90%;
  padding: 1rem;
  text-align: center;
}

body .wrap .modal .modalContents h3 {
  color: #9f415c;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0.1rem -0.1rem 0.1rem #e6dbe6, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #9b9898, -0.3rem 0.6rem 0.1rem #929191;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents h3 {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  body .wrap .modal .modalContents h3 {
    font-size: 1.8rem;
  }
}

body .wrap .modal .modalContents .modalPanel {
  text-align: left;
  margin: 2rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .modalPanel {
    margin: 1rem;
  }
}

body .wrap .modal .modalContents .modalPanel h4 {
  font-size: 1.8rem;
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .modalPanel h4 {
    font-size: 1.2rem;
  }
}

body .wrap .modal .modalContents .modalPanel p {
  font-size: 1.3rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .modalPanel p {
    font-size: 1.1rem;
  }
}

body .wrap .modal .modalContents .modalPanel ul {
  font-size: 1.2rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .modalPanel ul {
    font-size: 1rem;
    padding-left: 2rem;
  }
}

body .wrap .modal .modalContents .modalPanel a {
  text-decoration: none;
  color: #9f415c;
  padding-left: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .modalPanel a {
    font-size: 1.1rem;
  }
}

body .wrap .modal .modalContents .modalPanel a i {
  margin-right: 0.5rem;
}

body .wrap .modal .modalContents .modalPanel a:hover {
  color: #a46da9;
}

body .wrap .modal .modalContents .resumeLink {
  width: 85%;
  height: 0.1rem;
  margin: auto;
  border-radius: 10vw;
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#f5e63e));
  background-image: linear-gradient(to right, #fa709a 0%, #f5e63e 100%);
}

body .wrap .modal .modalContents .closeBtn {
  width: 10vw;
  font-size: 1.5rem;
  border-radius: 50vw;
  padding: 0.5rem 0.5rem;
  margin-bottom: 3rem;
  background: #f3f7fcae;
  -webkit-box-shadow: 0 0.2em 0.3em #9f415c;
          box-shadow: 0 0.2em 0.3em #9f415c;
  color: #9f415c;
  border: 0.1rem solid #9f415c;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .modal .modalContents .closeBtn {
    width: 25vw;
    font-size: 1.2rem;
  }
}

body .wrap .modal .modalContents .closeBtn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #f3f7fc;
  background: #9f415ca2;
}

body .wrap .modal .modalContents .closeBtn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

body .wrap .skills {
  background: -webkit-gradient(linear, left top, right bottom, from(#f3f7fcae), color-stop(#b286b4c0), to(#f3f7fcae)), url(./img/top4.jpg);
  background: linear-gradient(to right bottom, #f3f7fcae, #b286b4c0, #f3f7fcae), url(./img/top4.jpg);
  background-size: cover;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

body .wrap .skills h2 {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills h2 {
    padding-top: 1.5rem;
  }
}

body .wrap .skills .row {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%) skewY(-5deg);
          transform: translate(-50%, -50%) skewY(-5deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  margin: auto;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .skills .row {
    display: block;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    position: unset;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row {
    display: block;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    position: unset;
  }
}

body .wrap .skills .row .panel {
  width: 20vw;
  background-color: #f3f7fcae;
  margin: 2rem;
  padding: 1rem;
  border-radius: 5%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .skills .row .panel {
    width: 60vw;
    height: 20vh;
    border-radius: 3vw;
    margin: 2rem auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row .panel {
    width: 70vw;
    height: 20vh;
    border-radius: 7vw;
    margin: 2rem auto;
  }
}

body .wrap .skills .row .panel p {
  text-transform: uppercase;
  color: #434344;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .skills .row .panel p {
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row .panel p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  body .wrap .skills .row .panel p {
    font-size: 0.8rem;
  }
}

body .wrap .skills .row .panel .border {
  width: 50%;
  height: 0.1rem;
  margin: 2rem auto;
  background-color: #9f415c;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .skills .row .panel .border {
    margin: 1rem auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row .panel .border {
    margin: 1rem auto;
  }
}

body .wrap .skills .row .panel i {
  font-size: 2em;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row .panel i {
    font-size: 1.2em;
  }
}

@media (max-width: 320px) {
  body .wrap .skills .row .panel i {
    font-size: 1em;
  }
}

body .wrap .skills .row .panel ul {
  color: #434344;
  font-size: 1.5rem;
  list-style: none;
  padding-left: 0;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .skills .row .panel ul {
    font-size: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .skills .row .panel ul {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  body .wrap .skills .row .panel ul {
    font-size: 0.5rem;
  }
}

body .wrap .skills .row .panel:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

body .wrap .work {
  background: -webkit-gradient(linear, left top, right bottom, from(#f3f7fcae), to(#9f415ca2));
  background: linear-gradient(to right bottom, #f3f7fcae, #9f415ca2);
  -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work {
    height: unset;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0 100%);
            clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0 100%);
    height: unset;
  }
}

body .wrap .work h2 {
  padding-top: 6rem;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work h2 {
    padding-top: 10rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work h2 {
    padding-top: 5rem;
  }
}

body .wrap .work .line {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line {
    display: block;
    position: unset;
    padding: 1rem 0;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line {
    display: block;
    position: unset;
    padding: 1rem 0;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 0;
  }
}

body .wrap .work .line .card {
  position: relative;
  width: 23vw;
  min-height: 40vh;
  margin: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 600px;
          perspective: 600px;
  /* card front */
  /* card back */
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card {
    width: 70vw;
    min-height: 25vh;
    margin: 1rem auto 2rem auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card {
    width: 70vw;
    min-height: 40vh;
    margin: 1rem auto 2rem auto;
  }
}

body .wrap .work .line .card:hover .card_front {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

body .wrap .work .line .card:hover .card_back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

body .wrap .work .line .card .card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #f3f7fc;
  -webkit-box-shadow: 0.5em 0.7em 1em #434344;
          box-shadow: 0.5em 0.7em 1em #434344;
  margin: 1rem;
  border-radius: 3vw;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_front {
    margin: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_front {
    margin: 0;
  }
}

body .wrap .work .line .card .card_front .card_title {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  padding: 3rem 1.5rem;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_front .card_title {
    padding: 2.5rem 1.5rem;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_front .card_title {
    padding: 2rem 1.5rem;
  }
}

body .wrap .work .line .card .card_front .card_title h3 {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3131319c));
  background-image: linear-gradient(#3131319c);
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_front .card_title h3 {
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_front .card_title h3 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_front .card_title h3 {
    font-size: 0.8rem;
  }
}

body .wrap .work .line .card .card_front .one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdffbcbc)), url(./img/img1.jpg);
  background-image: linear-gradient(#fdffbcbc), url(./img/img1.jpg);
}

body .wrap .work .line .card .card_front .one h3 span {
  color: #f5e63e;
}

body .wrap .work .line .card .card_front .two {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#06070794)), url(./img/img2.jpg);
  background-image: linear-gradient(#06070794), url(./img/img2.jpg);
}

body .wrap .work .line .card .card_front .two h3 span {
  color: #42cef5;
}

body .wrap .work .line .card .card_front .three {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeae90ca)), url(./img/img3.jpg);
  background-image: linear-gradient(#eeae90ca), url(./img/img3.jpg);
}

body .wrap .work .line .card .card_front .three h3 span {
  color: #f57337;
}

body .wrap .work .line .card .card_front .techStack {
  list-style: none;
  margin: auto;
  padding: 1.5rem 2rem 2rem;
  width: 60%;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_front .techStack {
    width: 75%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_front .techStack {
    padding: 0 1.5rem;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_front .techStack {
    width: 50%;
  }
}

body .wrap .work .line .card .card_front .techStack li {
  border-bottom: 0.1rem groove #434344;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #434344;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_front .techStack li {
    display: inline-block;
    font-size: 1.5rem;
    border-bottom: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_front .techStack li {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_front .techStack li {
    font-size: 0.5rem;
  }
}

body .wrap .work .line .card .card_back {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0.5em 0.7em 1em #434344;
          box-shadow: 0.5em 0.7em 1em #434344;
  margin: 1rem;
  border-radius: 3vw;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_back {
    margin: 0;
    min-height: 25vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_back {
    margin: 0;
    min-height: 40vh;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_back {
    min-height: 50vh;
  }
}

body .wrap .work .line .card .card_back.one_back {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8bcfd), to(#beecaf));
  background: linear-gradient(#fff8bcfd, #beecaf);
}

body .wrap .work .line .card .card_back.two_back {
  background: -webkit-gradient(linear, left top, left bottom, from(#bcedfffd), to(#8a8af1));
  background: linear-gradient(#bcedfffd, #8a8af1);
}

body .wrap .work .line .card .card_back.three_back {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1b565fd), to(#f18383));
  background: linear-gradient(#f1b565fd, #f18383);
}

body .wrap .work .line .card .card_back p {
  color: #434344;
  text-align: justify;
  padding: 3rem;
  font-size: 1.2rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap .work .line .card .card_back p {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
}

@media (max-width: 320px) {
  body .wrap .work .line .card .card_back p {
    padding: 1rem 1rem;
  }
}

body .wrap .work .line .card .card_back a {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: #a46da9;
  text-decoration: none;
  background-color: #f3f7fc;
  -webkit-box-shadow: 0 0.2em 0.3em #06070794;
          box-shadow: 0 0.2em 0.3em #06070794;
  border-radius: 50vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap .work .line .card .card_back a {
    display: inline;
    margin: 1rem 1rem;
  }
}

body .wrap .work .line .card .card_back a:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  color: #fa709a;
}

body .wrap .work .line .card .card_back a:active {
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .wrap footer {
  width: 100%;
  background-color: #9f415c;
  color: #f3f7fc;
  text-align: center;
}

body .wrap footer h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0.1rem -0.1rem 0.1rem #bdbdbd, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #767474, -0.3rem 0.6rem 0.1rem #787777, -0.4rem 0.8rem 0.1rem #424242;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap footer h2 {
    font-size: 5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap footer h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  body .wrap footer h2 {
    font-size: 1.2rem;
  }
}

body .wrap footer .tel,
body .wrap footer .mail {
  text-decoration: none;
  color: #f3f7fc;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap footer .tel,
  body .wrap footer .mail {
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap footer .tel,
  body .wrap footer .mail {
    display: block;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  body .wrap footer .tel,
  body .wrap footer .mail {
    display: block;
    font-size: 0.5rem;
  }
}

body .wrap footer .tel i,
body .wrap footer .mail i {
  padding: 0 0.5rem;
}

body .wrap footer .tel:hover,
body .wrap footer .mail:hover {
  color: #a46da9;
}

body .wrap footer .links {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body .wrap footer .links a {
  text-decoration: none;
  color: #f3f7fc;
  padding-left: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 480px) and (max-width: 769px) {
  body .wrap footer .links a {
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap footer .links a {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 320px) {
  body .wrap footer .links a {
    display: block;
  }
}

body .wrap footer .links a i {
  margin-right: 0.5rem;
}

body .wrap footer .links a:hover {
  color: #a46da9;
}

body .wrap footer .logo a {
  display: block;
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 4rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: #f3f7fc;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-shadow: 0.1rem -0.1rem 0.1rem #bdbdbd, -0.1rem 0.2rem 0.1rem #737272, -0.2rem 0.4rem 0.1rem #767474, -0.3rem 0.6rem 0.1rem #787777, -0.4rem 0.8rem 0.1rem #424242;
}

body .wrap footer .logo a:hover {
  color: #a46da9;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .wrap footer .credit {
  padding-bottom: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  body .wrap footer .credit {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  body .wrap footer .credit {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */