$color1: #010102d8;
$color2: #a09efc;
$color3: #e896ea; //used
$color3grad: #e996eac0; //used
$color4grad: #a1c7ffb9; //used
$color4: #a1c7ff; //used
$color5: #a46da9;
$color6: #4e3d5d; //used
$color7: #9f415c; //used
$color8: #f3f7fc; //used
$bgColor1: #f3f7fc9e;

@mixin centering {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}
body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  //background-color: $color1;
  // background:linear-gradient($bgColor1), url(https://i.gifer.com/HKVW.gif);
  background: url(https://i.gifer.com/HKVW.gif);
  /* header */
  header {
    width: 100%;
    height: 95vh;
    text-align: center;
    //background: url(./img/top4.jpg);
    //background: url(https://media.giphy.com/media/11fHSR7hmRLbkA/giphy.gif);
    background: url(https://i.gifer.com/XSdv.gif);
    background-size: cover;
    //clip-path: polygon(100% 0, 100% 74%, 49% 100%, 25% 87%, 0 74%, 0% 0%);
    .logo {
      font-family: "UnifrakturMaguntia", cursive;
      text-align: left;
      font-size: 4rem;
      color: $color7;
      padding-left: 1rem;
      padding-top: 0.5rem;
    }
    .title {
      @include centering;
      h1 {
        font-size: 5rem;
        color: $color8;
        text-transform: uppercase;
        font-family: "Train One", cursive;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
        color: $color8;
        text-transform: uppercase;
      }
      .btn {
        width: 15vw;
        font-size: 2rem;
        border-radius: 50vw;
        padding: 0.5rem 1.5rem;
        margin-top: 2rem;
        //background: linear-gradient(to right, $color7, $color3, $color4);
        background: #f3f7fcc8;
        box-shadow: 0 0.2em 0.3em $color7;
        color: $color7;
        border: 0.1rem solid $color7;
        &:active {
          box-shadow: none;
          transform: translateY(0.2rem);
        }
      }
      .aboutBtn {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  /* main all */
  .container {
    position: relative;
    width: 100%;
    height: 95vh;
    text-align: center;
    color: $color8;
    h2 {
      padding-top: 3rem;
      font-size: 3rem;
      text-transform: uppercase;
    }
  }

  /* about */
  .about {
    clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 0);
    background-color: $color3;
  }

  /* skills */
  .skills {
    background-color: lightblue;
    background: linear-gradient(to right bottom, $color4grad, $color3grad), url(./img/top4.jpg);
    background-size: cover;
    transform: skewY(5deg);
    // &::before {
    //   content: "";
    //   background: inherit;
    //   position: absolute;
    //   z-index: -1;
    //   filter: blur(5px);
    //   position: absolute;
    //   top: -2px;
    //   left: -2px;
    //   right: -2px;
    //   bottom: -2px;
    // }
    h2 {
      transform: skewY(-5deg);
    }
    .row {
      @include centering;
      transform: translate(-50%, -50%) skewY(-5deg);
      display: flex;
      justify-content: center;
      font-size: 2rem;
      margin: auto;
      .panel {
        width: 20vw;
        background-color: $bgColor1;
        margin: 2rem;
        padding: 1rem;
        border-radius: 5%;
        p {
          text-transform: uppercase;
          color: $color6;
        }
        .border {
          width: 50%;
          height: 0.1rem;
          margin: 2rem auto;
          background-color: $color7;
        }
        i {
          font-size: 2em;
        }
        ul {
          color: $color6;
          font-size: 1.5rem;
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }

  /* work */
  .work {
    background-color: $color4;
    clip-path: polygon(100% 20%, 100% 100%, 0 100%, 0 0%);
    h2 {
      padding-top: 6rem;
    }
    .line {
      @include centering;
      display: flex;
      justify-content: center;
      margin-top: 2rem; ///大画面でWorkの上が切れる
      .card {
        background-color: lightcoral;
        margin: 1rem;
        min-width: 20vw;
        border-radius: 5%;
        .card_title {
          background-color: lightgreen;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
          padding: 2rem;
          border-top-left-radius: 70%;
          border-top-right-radius: 10%;
          h3 {
            font-size: 1.5rem;
            margin-left: auto;
            text-align: right;
          }
        }
        .techStack {
          list-style: none;
          margin: auto;
          padding: 1.5rem 2rem 2rem;
          width: 60%;
          li {
            border-bottom: 0.1rem groove $color6;
            font-size: 1.2rem;
            padding: 0.5rem;
          }
        }
      }
    }
  }

  /* footer */
  footer {
    width: 100%;
    background-color: $color7;
    color: $color8;
    text-align: center;
    .logo {
      a {
        font-family: "UnifrakturMaguntia", cursive;
        font-size: 4rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        color: $color8;
        text-decoration: none;
      }
    }
    .links {
      padding-bottom: 1rem;
      a {
        text-decoration: none;
        color: $color8;
        padding-left: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}
